1) Write a python programm to create a list:

In [4]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [5]:
# Adding an element to the list
my_list.append(6)
print("list after adding an element:",my_list)

list after adding an element: [1, 2, 3, 4, 5, 6]

In [6]:
# Removing an element from the list
my_list.remove(3)
print("list after removing an element:", my_list)

# Removing the last element from the list
my_list.pop()
print("list after removing the last element:", my_list)

list after removing an element: [1, 2, 4, 5, 6]
list after removing the last element: [1, 2, 4, 5]

In [7]:
# Modifying an element in the list
my_list[2]=10
print("list after modifying an element:", my_list)

list after modifying an element: [1, 2, 10, 5]

Write a python program to create a dictionary:

In [8]:
#creating a dictionary
my_dict={"name":"John","age":27,"city":"New York"}
print(my_dict)

{'name': 'John', 'age': 27, 'city': 'New York'}

In [9]:
#Adding a key-value pair
my_dict["country"]="USA"
print("dictionary after adding a key-value pair:", my_dict)

dictionary after adding a key-value pair: {'name': 'John', 'age': 27, 'city': 'New York', 'country': 'USA'}

In [10]:
# Removing a key-value pair
del my_dict["age"]
print("dictionary after removing a key-value pair:", my_dict)

dictionary after removing a key-value pair: {'name': 'John', 'city': 'New York', 'country': 'USA'}

In [11]:
# Modifying a key-value pair
my_dict["name"]="Jane"
print("dictionary after modifying a key-value pair:", my_dict)

dictionary after modifying a key-value pair: {'name': 'Jane', 'city': 'New York', 'country': 'USA'}

Write a python program to create a set:

In [12]:
# creating a set
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [13]:
# Adding an element
my_set.add(6)
print("set after adding an element:", my_set)

set after adding an element: {1, 2, 3, 4, 5, 6}

In [14]:
# Removing an element
my_set.remove(3)
print("set after removing an element:", my_set)

set after removing an element: {1, 2, 4, 5, 6}

In [15]:
# Modifying an element
# Sets are immutable, so modifying an element is not possible
# However we can add and re modify these elements
my_set.discard(5)
print("set after modifying an element:", my_set)
my_set.add(5)
print("set after re modifying an element:", my_set)

set after modifying an element: {1, 2, 4, 6}
set after re modifying an element: {1, 2, 4, 5, 6}